

<div   class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Debt calculators
              </h5>

          </div>
          <div class="ibox-content">

  <div ng-controller="AddNumbersController">
  loan amt($):<input ng-model="loan" type="number"><br></br>



number of years	:<input ng-model="term" type="number"><br></br>

interest rate:<input ng-model="rate" type="number"><br></br>

<button ng-click="AddNumbers()">Click Me!</button>
    <h1>amount={{total}}</h1>

<cjs-doughnut dataset="someData" options="someOptions" segement-stroke-width="5"></cjs-doughnut>
<cjs-line dataset="lineData"></cjs-line>
  </div>
</div>
</div>
</div>
</div>
</div>
