<div  style="background:white" class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
  <div ng-controller="useruleController"
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offet-1">
                <p style="margin-top:80px;">
        <center>
          <h2>
          Debt: $<input type="text" ng-model="debt" style="width:45px;border-style:none none solid;text-align: center;" >
          rate:<input type="text" ng-model="rate" style="width:100px;border-style:none none solid;text-align: center;" > %
          amount: $<input type="text" ng-model="amount" style="width:45px;border-style:none none solid;text-align: center;" >
          end:<input type="text" ng-model="endDate" style="width:100px;border-style:none none solid;text-align: center;" > %
          start: <input type="text" ng-model="startDate" style="width:45px;border-style:none none solid;text-align: center;" > years before I need the money.
          </h2>



          </h2>
        </center>
      </div>

      <div class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offet-4">
      <p style="margin-top:80px;">
        <button type="button" ng-click="saveuser()" class="btn btn-danger btn-lg btn-block btn-outline">Show me the plan &nbsp<i class="fa fa-angle-double-right"></i> </button>
      </p>
              <a href="#/appStudio/risk_profiler"><button type="button" class="btn btn-danger btn-lg btn-block btn-outline">Take a comprehensive risk profiling &nbsp<i class="fa fa-angle-double-right"></i> </button></a>
      <p style="margin-top:400px;">
      </div>
</div>
  </div>
</div>
