<div ng-controller="AddNumbersPieController">
  <div class="col-lg-4">
    <br></br>
    <br></br>
    <br></br>
  <div class="ibox float-e-margins">
      <div class="ibox-title">
  loan amt	:<input ng-model="a" type="number"><br></br>
  term:<input ng-model="b" type="number"><br></br>
  interest rate:<input ng-model="c" type="number">%<br></br>
  <button ng-click="getValues(a,b,c); getChart(total, loan)">Click Me!</button>
</div>
</div>
</div>



<div class="col-lg-6">
  <br></br>
  <!-- <button ng-click="getChart(total,loan)">generate chart</button> -->
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
</div>
