<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <small>
                    {{main.descriptionText}}

                    <i class="glyphicon glyphicon-pencil"></i>
                </small>
  <table class="table table-striped">
                <tr ng-repeat="data in data">
                  <td>{{data.event}}</td>
                  <td>
                    <li ng-repeat="item in data.expenselist">
                      {{item.text}}
                    </li>
                  </td>
                  <td>
                    <li ng-repeat="item in data.expenselist">
                      {{item.value}}
                    </li>
                  </td>
                  <td>{{data.expense}}</td>
                  </td>
                  <td>
                    <li ng-repeat="item in data.sharelist">
                      {{item.text}}
                    </li>
                  </td>
                  <td>{{data.shareno}}</td>
                  <td>{{data.shareamount}}</td>
                </tr>
              </table>
            </div>
        </div>
    </div>
</div>
