<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <small>
                    {{main.descriptionText}}

                    <i class="glyphicon glyphicon-pencil"></i>
                </small>
  <table>
                <tr ng-repeat="sharedetail in sharedetails">
                  <td>{{sharedetail.event}}</td>
                  <td>
                    <li ng-repeat="item in sharedetail.expenselist">
                      {{item.text}}
                    </li>
                  </td>
                  <td>
                    <li ng-repeat="item in sharedetail.expenselist">
                      {{item.value}}
                    </li>
                  </td>
                  <td>{{sharedetail.expense}}</td>
                  </td>
                  <td>
                    <li ng-repeat="item in sharedetail.sharelist">
                      {{item.text}}
                    </li>
                  </td>
                  <td>{{sharedetail.shareno}}</td>
                  <td>{{sharedetail.shareamount}}</td>
                </tr>
              </table>
            </div>
        </div>
    </div>
</div>
