<div  style="background:white" class="wrapper wrapper-content animated fadeInRight" ng-controller="GoalController as gCtrl">
  <div class="row">
    <!-- <div class="col-lg-12">
      <center><img src="assets/images/qi/fst/dbs_header.png" class="img-responsive"></center>
    </div> -->
    <div class="col-lg-12">
      <div style="background-image: url('assets/images/qi/engagement/workforce-internships.jpg');min-height: 600px;background-attachment: fixed;
      background-position: center;background-repeat: no-repeat;background-size: cover;">
      </div>
    </div>
      <!-- <img src="assets/images/qi/engagement/active_investing.jpg" du-parallax y="g2k.background"> -->

        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offet-1">
                <p style="margin-top:80px;">
        <center>
          <h2>
            I am <input type="text" ng-model="gCtrl.model.age" style="width:45px;border-style:none none solid;text-align: center;" > years old,
            my current total asset is $<input type="text" ng-model="gCtrl.model.total_asset" style="width:100px;border-style:none none solid;text-align: center;" >
            and my initial invest amount is $<input type="text" ng-model="gCtrl.model.invest_amt" style="width:100px;border-style:none none solid;text-align: center;" >.I would like to invest $<input type="text" ng-model="gCtrl.model.contr_amt" style="width:100px;border-style:none none solid;text-align: center;" > per month.
            My investment horizon is <input type="text" ng-model="gCtrl.model.time_horizon" style="width:45px;border-style:none none solid;text-align: center;" > years before I need the money.
          </h2>
        </center>
      </div>

      <div class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offet-4">
      <p style="margin-top:80px;">
        <button type="button" ng-click="gCtrl.show_plan('Wealth Accumulation')" class="btn btn-danger btn-lg btn-block btn-outline">Show me the plan &nbsp<i class="fa fa-angle-double-right"></i> </button>
      </p>
              <a href="#/appStudio/risk_profiler"><button type="button" class="btn btn-danger btn-lg btn-block btn-outline">Take a comprehensive risk profiling &nbsp<i class="fa fa-angle-double-right"></i> </button></a>
      <p style="margin-top:400px;">
      </div>

  </div>
</div>
