<div style="background:white" class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div ng-controller="expensesController" <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offet-1">
      <p style="margin-top:80px;">
        <center>
          <h2>

          annual expenses:<input type="text" ng-model="newexpense.annual"  >
            start:<input type="text" ng-model="newexpense.startDate"  >
              end:<input type="text" ng-model="newexpense.endDate"  >




          </h2>
        </center>

        <button type="button" ng-click="saveexpense()" class="btn btn-danger btn-lg btn-block btn-outline">add &nbsp<i class="fa fa-angle-double-right"></i> </button>



        <table st-table="rowCollection" class="table table-striped">
          <h1> <center>expenses </center></h1>
          <thead>
            <tr>
              <th>expenses id</th>

              <th>amount</th>

              <th>start</th>

              <th>end</th>



            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="expense in expenses">
              <td>{{ expense.id }}</td>

              <td>{{ expense.annual }}</td>
              <td>{{ expense.startDate }}</td>
              <td>{{ expense.endDate }}</td>
              <td>

              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
</div>
</div>
