<div ng-controller="moduleController">
    <form>
    <label>inital amount:</label>
        <input type="text" name="initialAmt" ng-model="newmod.initialAmt"/>
        <br></br>
    <label>term</label>
        <input type="text" name="term" ng-model="newmod.term"/>
          <br></br>
    <label>target amount</label>
        <input type="text" name="targetAmt" ng-model="newmod.targetAmt"/>
      <br>  <br/>
        <input type="hidden" ng-model="newmod.id" />
     <input type="button" value="Save" ng-click="savemodule()" />
    </form>
<table st-table="rowCollection" class="table table-striped">
<thead>
<tr>
    <th>initialAmt</th>

    <th>term</th>

    <th>targetAmt</th>

    <th>Action</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="mod in modules">
    <td>{{ mod.initialAmt }}</td>
    <td>{{ mod.term }}</td>
    <td>{{ mod.targetAmt }}</td>
    <td>
        <a  href="#" ng-click="view(mod.id)">view</a> |
        <a href="#" ng-click="delete(mod.id)">delete</a>
    </td>
 </tr>
</tbody>
</table>
</div>
