<div ng-controller="detailController">
  <row>
    <center>
      <h1> Name</h1>
      <center>
        <input type="text" ng-model="name" />


        <center>
          <h1> income</h1>
          <center>
            <input type="number" ng-model="income" />



            <!-- <center>
              <h1> Salary</h1>
              <center>
                <input type="number" ng-model="" /> -->

  </row>

<row>
  <center>
  <div class="btn-group pull-center">
    <a href="#/retirement/retirement3">
      <button ng-click="setName(name); setIncome(income)"  class="btn btn-white btn-xl"><i class="fa fa-share"></i> Explore</button>
    </a>
  </div>
  <center>
</row>

</div>
