<div ng-controller="retireController">
  <row>
    <center>

  </row>
  <center>
    <h1> {{name}}, your monthly allowance during retirement is</h1>
    <center>
      <div id="container" style="min-width: 310px; height: 200px; max-width: 600px; margin: 0 auto">

        <input id="slider_init" ion-range-slider range-options="slider_init_options" ng-model="percentage">

      </div>


      <row>
        <h1>
{{percentage}}% * {{income}} = {{percentage/100 * income}}

</h1>
      </row>

      <div class="btn-group pull-center">
        <a href="#/retirement/retirement2">
          <button ng-click="setRetIncome()"class="btn btn-white btn-xs"><i class="fa fa-share"></i> go on</button>
        </a>
      </div>


</div>
