<div ng-controller="useruleController">

<table st-table="rowCollection" class="table table-striped">
  <h1> <center>debt </center></h1>
<thead>
<tr>
    <th>debt id</th>

    <th>rate</th>

    <th>amount</th>

    <th>start date</th>

    <th>end date</th>

</tr>
</thead>
<tbody>
<tr ng-repeat="user in users| filter:search">
    <td>{{ user.debt.id }}</td>
    <td>{{ user.debt.rate }}</td>
    <td>{{ user.debt.amount }}</td>
    <td>{{ user.debt.startDate }}</td>
    <td>{{ user.debt.endDate }}</td>
    <td>
        <a  ng-click="view(user.user_id)">view</a> |
        <a ng-click="delete(user.user_id)">delete</a>
    </td>
 </tr>
</tbody>
</table>


<br></br>


<div class="col-md-6">

<table st-table="rowCollection" class="table table-striped">
  <h1> <center>income </center></h1>
<thead>
<tr>
    <th>income id</th>

    <th>annual income</th>

</tr>
</thead>
<tbody>
<tr ng-repeat="user in users| filter:search">
    <td>{{ user.income.id }}</td>
    <td>{{ user.income.annual }}</td>

    <td>
        <a  ng-click="view(user.user_id)">view</a> |
        <a ng-click="delete(user.user_id)">delete</a>
    </td>
 </tr>
</tbody>
</table>

</div>

<div class="col-md-6">

<table st-table="rowCollection" class="table table-striped">
  <h1> <center>expenses </center></h1>
<thead>
<tr>
    <th>expense id</th>

    <th>amount</th>

    <th>recurring</th>

</tr>
</thead>
<tbody>
<tr ng-repeat="user in users| filter:search">
    <td>{{ user.expenses.id }}</td>
    <td>{{ user.expenses.amount }}</td>
    <td>{{ user.expenses.recurring }}</td>

    <td>
        <a  ng-click="view(user.user_id)">view</a> |
        <a ng-click="delete(user.user_id)">delete</a>
    </td>
 </tr>
</tbody>
</table>
</div>

<br></br>




<div class="col-md-12">
<table st-table="rowCollection" class="table table-striped">
  <h1> <center>investments </center></h1>
<thead>
<tr>
    <th>investment id</th>

    <th>rate</th>

    <th>initial Amount</th>

    <th>target Amount</th>

    <th>end date</th>

    <th>start date</th>

</tr>
</thead>
<tbody>
<tr ng-repeat="user in users| filter:search">
    <td>{{ user.investment.id }}</td>
    <td>{{ user.investment.rate }}</td>
    <td>{{ user.investment.initialAmount }}</td>
    <td>{{ user.investment.targetAmount }}</td>
    <td>{{ user.investment.endDate }}</td>
    <td>{{ user.investment.startDate }}</td>
    <td>
        <a  ng-click="view(user.user_id)">view</a> |
        <a ng-click="delete(user.user_id)">delete</a>
    </td>
 </tr>
</tbody>
</table>
</div>

</div>
