<div ng-controller="debtController">

  <table st-table="rowCollection" class="table table-striped">
    <h1> <center>debt </center></h1>
  <thead>
  <tr>
      <th>debt id</th>

      <th>rate</th>

      <th>amount</th>

      <th>start date</th>

      <th>end date</th>

  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="deb in debt">
      <td>{{ deb.id }}</td>
      <td>{{ deb.rate }}</td>
      <td>{{ deb.amount }}</td>
      <td>{{ deb.startDate }}</td>
      <td>{{ deb.endDate }}</td>
      <td>

      </td>
   </tr>
  </tbody>
  </table>

</div>
<br></br>



<div ng-controller="incomeController">
<div class="col-md-6">
  <table st-table="rowCollection" class="table table-striped">
    <h1> <center>income </center></h1>
  <thead>
  <tr>
      <th>income id</th>

      <th>amount</th>

      <th>start date</th>

      <th>end date</th>

  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="inc in income">
      <td>{{ inc.id }}</td>

      <td>{{ inc.annual }}</td>
      <td>{{ inc.startDate }}</td>
      <td>{{ inc.endDate }}</td>
      <td>

      </td>
   </tr>
  </tbody>
  </table>
</div>
</div>

<div class="col-md-6">
<div ng-controller="expensesController">
  <table st-table="rowCollection" class="table table-striped">
    <h1> <center>expenses </center></h1>
    <thead>
      <tr>
        <th>expenses id</th>

        <th>amount</th>

        <th>start</th>

        <th>end</th>



      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="expense in expenses">
        <td>{{ expense.id }}</td>

        <td>{{ expense.annual }}</td>
        <td>{{ expense.startDate }}</td>
        <td>{{ expense.endDate }}</td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<br></br>




<div class="col-md-12">
  <div ng-controller="investmentController">
  <table st-table="rowCollection" class="table table-striped">
      <h1> <center>investments </center></h1>
    <thead>
      <tr>
        <th>initialAmt</th>

        <th>term</th>

        <th>targetAmt</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="investment in investments| filter:search">
        <td>{{ investment.initialAmt }}</td>
        <td>{{ investment.term }}</td>
        <td>{{ investment.targetAmt }}</td>
        <td>
          <a ng-click="view(investment.investment_id)">view</a> |
          <a ng-click="delete(investment.investment_id)">delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
