<div  style="background:white" class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
  <div ng-controller="debtController"

        <center>
          <h2>
          rate:<input type="text" ng-model="newdeb.rate"> %
          amount: $<input type="text" ng-model="newdeb.amount" >
          end:<input type="text" ng-model="newdeb.endDate" > %
          start: <input type="text" ng-model="newdeb.startDate" >
          </h2>



          </h2>
        </center>

          <button type="button" ng-click="savedeb()" class="btn btn-danger btn-lg btn-block btn-outline">Show me the plan &nbsp<i class="fa fa-angle-double-right"></i> </button>

    



  <table st-table="rowCollection" class="table table-striped">
    <h1> <center>debt </center></h1>
  <thead>
  <tr>
      <th>debt id</th>

      <th>rate</th>

      <th>amount</th>

      <th>start date</th>

      <th>end date</th>

  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="deb in debt">
      <td>{{ deb.id }}</td>
      <td>{{ deb.rate }}</td>
      <td>{{ deb.amount }}</td>
      <td>{{ deb.startDate }}</td>
      <td>{{ deb.endDate }}</td>
      <td>

      </td>
   </tr>
  </tbody>
  </table>
</div>
</div>
</div>
